<div style="text-align:center">
    
    <h1>{{ thread.title }} (by {{ thread.username }})</h1>
    <a ui-sref="threads">Back to main page</a>
    <a ui-sref="logout">Logout</a>
    <div class="threadTop">
	    <form name="newCommentForm" ng-submit="createComment(username, newCommentText)">
	    	<p>Signed in as: {{username}}</p>
	        New Comment: <br/><textarea type="text" ng-model="newCommentText" placeholder="Write a comment..." required rows="10" cols="30"></textarea><br/>
	        <button ng-disabled="newCommentForm.$invalid">Comment</button>
	    </form>
    </div>
    <div class="threadTop">
    	<div ng-repeat="comment in comments">{{ comment.username }}: {{ comment.text }}</div>
    </div>
</div>