html, body {
	margin: 0;
	padding: 0;
}

.mainContainer {
	width: 100vw;
	display: flex;
	justify-content: center;
}

.threadTop {
	width: 500px;
	min-height: 30px;
	margin: 1px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid blue;
	border-radius: 5px;
}

.threadTop ul {
	list-style-type: none;
}

.threadTop input {
	width: 200px;
	height: 20px;
}

.threadTop button {
	width: 90px;
	height: 20px;
}

.signIns {
	display: flex;
	justify-content: center;
}

.rightJustify {
	text-align: right;
}




